### Project Twitter Sentiment Analysis
#### Here in this Project, we take Dataset of tweets which are floated on twitter and identifying which of the tweets are Positive, Negative or Neutral
#### Take two different Datasets, one is Training Dataset which consists of Tweets along with Airline Sentiment and other one is Testing Dataset which consists of Tweets not Airline Sentiment, and by applying NLP(Natural Language Processing) ,i.e NLTK And Sklearn Classifier, we Predict Airline Sentiment of Testing Dataset.
#### Here in this Project, we use three Sklearn Classifier --> SVM(Support Vector Machine), Random Forest Classifier, Multinomial Naive Bayes Classifier, and Decision Tree Classifier and generate three Different Predictions corresponding to each Classifier

In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")

### Preparing Training Dataset
#### Importing Training Dataset

In [2]:
df_train=pd.read_csv("Downloads/training_twitter_x_y_train.csv")

In [3]:
print(df_train.shape)
df_train.head()

(10980, 12)

,tweet_id,airline_sentiment,airline,airline_sentiment_gold,name,negativereason_gold,retweet_count,text,tweet_coord,tweet_created,tweet_location,user_timezone
0,567900433542488064,negative,Southwest,NaN,ColeyGirouard,NaN,0,"@SouthwestAir I am scheduled for the morning, ...",NaN,2015-02-17 20:16:29 -0800,Washington D.C.,Atlantic Time (Canada)
1,569989168903819264,positive,Southwest,NaN,WalterFaddoul,NaN,0,@SouthwestAir seeing your workers time in and ...,NaN,2015-02-23 14:36:22 -0800,"Indianapolis, Indiana; USA",Central Time (US & Canada)
2,568089179520954368,positive,United,NaN,LocalKyle,NaN,0,@united Flew ORD to Miami and back and had gr...,NaN,2015-02-18 08:46:29 -0800,Illinois,Central Time (US & Canada)
3,568928195581513728,negative,Southwest,NaN,amccarthy19,NaN,0,@SouthwestAir @dultch97 that's horse radish üò§üê¥,NaN,2015-02-20 16:20:26 -0800,NaN,Atlantic Time (Canada)
4,568594180014014464,negative,United,NaN,J_Okayy,NaN,0,@united so our flight into ORD was delayed bec...,NaN,2015-02-19 18:13:11 -0800,NaN,Eastern Time (US & Canada)

In [4]:
df_train=df_train[['text','airline_sentiment']]
df_train.head()

                                                text airline_sentiment
0  @SouthwestAir I am scheduled for the morning, ...          negative
1  @SouthwestAir seeing your workers time in and ...          positive
2  @united Flew ORD to Miami and back and  had gr...          positive
3     @SouthwestAir @dultch97 that's horse radish üò§üê¥          negative
4  @united so our flight into ORD was delayed bec...          negative

In [5]:
training_documents=df_train.values

### Spliiting the Tweet text into words using NLTK

In [6]:
from nltk.tokenize import word_tokenize

tweets_train=[]
for i in range(len(training_documents)):
    tweets_train.append([word_tokenize(training_documents[i][0]),training_documents[i][1]])

In [7]:
import random
random.shuffle(tweets_train)
tweets_train[0:3]

[[['@',
   'united',
   'when',
   'I',
   'click',
   'that',
   'link',
   'it',
   'wants',
   'my',
   'flight',
   'info',
   '.',
   'I',
   'have',
   "n't",
   'booked',
   'a',
   'flight',
   'yet',
   '.',
   'I',
   'read',
   'you',
   'waive',
   'fees',
   'for',
   'military',
   ',',
   'it',
   'this',
   'true',
   '?'],
  'neutral'],
 [['@',
   'USAirways',
   'waited',
   'for',
   '3',
   'hours',
   'NO',
   'LUGGAGE',
   'line',
   'too',
   'long',
   'left',
   'airport',
   'when',
   'flight',
   'Cancelled',
   'Flighted',
   'WHERE',
   'does',
   'luggage',
   'GO',
   '?',
   'On',
   'hold',
   'for',
   '1',
   'hour',
   'so',
   'far'],
  'negative'],
 [['@',
   'JetBlue',
   'Finally',
   'starting',
   'to',
   'come',
   'out',
   '.',
   '40',
   'minutes',
   'and',
   'no',
   'communication',
   'is',
   'not',
   'acceptable',
   '.',
   'Letting',
   'me',
   'down',
   'today',
   '.'],
  'negative']]

### Part Of Speech using NLTK

In [8]:
from nltk.corpus import wordnet

In [9]:
def get_simple_pos(tag):
    if tag.startswith('J'):
        return wordnet.ADJ
    elif tag.startswith('V'):
        return wordnet.VERB
    elif tag.startswith('N'):
        return wordnet.NOUN
    elif tag.startswith('R'):
        return wordnet.ADV
    else:
        return wordnet.NOUN

### Cleaning the Words using WordNetLemmatizer available in NLTK

In [10]:
import string
from nltk.corpus import stopwords
stops=set(stopwords.words("english"))
punctuations=list(string.punctuation)
stops.update(punctuations)
stops, string.punctuation

({'!',
  '"',
  '#',
  '$',
  '%',
  '&',
  "'",
  '(',
  ')',
  '*',
  '+',
  ',',
  '-',
  '.',
  '/',
  ':',
  ';',
  '<',
  '=',
  '>',
  '?',
  '@',
  '[',
  '\\',
  ']',
  '^',
  '_',
  '`',
  'a',
  'about',
  'above',
  'after',
  'again',
  'against',
  'ain',
  'all',
  'am',
  'an',
  'and',
  'any',
  'are',
  'aren',
  "aren't",
  'as',
  'at',
  'be',
  'because',
  'been',
  'before',
  'being',
  'below',
  'between',
  'both',
  'but',
  'by',
  'can',
  'couldn',
  "couldn't",
  'd',
  'did',
  'didn',
  "didn't",
  'do',
  'does',
  'doesn',
  "doesn't",
  'doing',
  'don',
  "don't",
  'down',
  'during',
  'each',
  'few',
  'for',
  'from',
  'further',
  'had',
  'hadn',
  "hadn't",
  'has',
  'hasn',
  "hasn't",
  'have',
  'haven',
  "haven't",
  'having',
  'he',
  'her',
  'here',
  'hers',
  'herself',
  'him',
  'himself',
  'his',
  'how',
  'i',
  'if',
  'in',
  'into',
  'is',
  'isn',
  "isn't",
  'it',
  "it's",
  'its',
  'itself',
  'just',
  'll',
  'm',
  'ma',
  'me',
  'mightn',
  "mightn't",
  'more',
  'most',
  'mustn',
  "mustn't",
  'my',
  'myself',
  'needn',
  "needn't",
  'no',
  'nor',
  'not',
  'now',
  'o',
  'of',
  'off',
  'on',
  'once',
  'only',
  'or',
  'other',
  'our',
  'ours',
  'ourselves',
  'out',
  'over',
  'own',
  're',
  's',
  'same',
  'shan',
  "shan't",
  'she',
  "she's",
  'should',
  "should've",
  'shouldn',
  "shouldn't",
  'so',
  'some',
  'such',
  't',
  'than',
  'that',
  "that'll",
  'the',
  'their',
  'theirs',
  'them',
  'themselves',
  'then',
  'there',
  'these',
  'they',
  'this',
  'those',
  'through',
  'to',
  'too',
  'under',
  'until',
  'up',
  've',
  'very',
  'was',
  'wasn',
  "wasn't",
  'we',
  'were',
  'weren',
  "weren't",
  'what',
  'when',
  'where',
  'which',
  'while',
  'who',
  'whom',
  'why',
  'will',
  'with',
  'won',
  "won't",
  'wouldn',
  "wouldn't",
  'y',
  'you',
  "you'd",
  "you'll",
  "you're",
  "you've",
  'your',
  'yours',
  'yourself',
  'yourselves',
  '{',
  '|',
  '}',
  '~'},
 '!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~')

In [11]:
from nltk.stem import WordNetLemmatizer
from nltk import pos_tag
lemmatizer=WordNetLemmatizer()

In [12]:
def clean_tweets(words):
    output_words=[]
    for w in words:
        if w.isalpha():
            if w.lower() not in stops:
                pos=pos_tag([w])
                clean_word=lemmatizer.lemmatize(w,pos=get_simple_pos(pos[0][1]))
                output_words.append(clean_word.lower())
    return output_words

In [13]:
for i in range(len(tweets_train)):
    tweets_train[i]=(clean_tweets(tweets_train[i][0]),tweets_train[i][1])

In [14]:
y_train=[]
tweets=[]
for tweet,sentiment in tweets_train:
    tweets.append(" ".join(tweet))
    y_train.append(sentiment)

### Using Count Vectorizer to get the X Train Features

In [15]:
from sklearn.feature_extraction.text import CountVectorizer
count_vec=CountVectorizer(max_features=2000)
x_train_features=count_vec.fit_transform(tweets)

### Preparing Testing Dataset

In [16]:
df_test=pd.read_csv("Downloads/test_twitter_x_test.csv")

In [17]:
df_test.head()

,tweet_id,airline,airline_sentiment_gold,name,negativereason_gold,retweet_count,text,tweet_coord,tweet_created,tweet_location,user_timezone
0,569682010270101504,American,NaN,zsalim03,NaN,0,@AmericanAir In car gng to DFW. Pulled over 1h...,NaN,2015-02-22 18:15:50 -0800,Texas,Central Time (US & Canada)
1,569608307184242688,American,NaN,sa_craig,NaN,0,"@AmericanAir after all, the plane didn‚Äôt land ...",NaN,2015-02-22 13:22:57 -0800,"College Station, TX",Central Time (US & Canada)
2,567879304593408001,Southwest,NaN,DanaChristos,NaN,1,@SouthwestAir can't believe how many paying cu...,NaN,2015-02-17 18:52:31 -0800,CT,Eastern Time (US & Canada)
3,569757651539660801,US Airways,NaN,rossj987,NaN,0,@USAirways I can legitimately say that I would...,NaN,2015-02-22 23:16:24 -0800,"Washington, D.C.",Eastern Time (US & Canada)
4,569900705852608513,American,NaN,tranpham18,NaN,0,@AmericanAir still no response from AA. great ...,NaN,2015-02-23 08:44:51 -0800,New York City,Eastern Time (US & Canada)

In [18]:
testing_documents=np.array(df_test['text'])

In [19]:
tweets_test=[]
for t in testing_documents:
    t=clean_tweets(word_tokenize(t))
    tweets_test.append(" ".join(t))

In [20]:
x_test_features=count_vec.transform(tweets_test)

### Splitting Training Dataset in order to find Accuracy

In [37]:
from sklearn.model_selection import train_test_split
x_train_tweets,x_test_tweets,y_train_tweets,y_test_tweets=train_test_split(x_train_features,y_train,train_size=0.8,
                                                                           test_size=0.2,random_state=0)

### Performing SkLearn Classifier
### SVM (Support Vector Machine)

In [52]:
from sklearn.svm import SVC
svc=SVC()
svc.fit(x_train_tweets,y_train_tweets)
svc.score(x_test_tweets,y_test_tweets)

0.76775956284153

In [32]:
svc.fit(x_train_features,y_train)
y_pred_svc=svc.predict(x_test_features)

In [ ]:
df=pd.DataFrame(y_pred_svc)
df.to_csv('predictions_tweets_svm.csv',index=False,header=False)

### Random Forest Classifier

In [50]:
from sklearn.ensemble import RandomForestClassifier
rfc=RandomForestClassifier()
rfc.fit(x_train_tweets,y_train_tweets)
rfc.score(x_test_tweets,y_test_tweets)

0.7577413479052824

In [ ]:
rfc.fit(x_train_features,y_train)
y_pred_rfc=rfc.predict(x_test_features)

In [ ]:
df=pd.DataFrame(y_pred_rfc)
df.to_csv('predictions_tweets_rfc.csv',index=False,header=False)

### Multinomial Naive Bayes Classifier

In [48]:
from sklearn.naive_bayes import MultinomialNB
mnv=MultinomialNB(alpha=1)
mnv.fit(x_train_tweets,y_train_tweets)
mnv.score(x_test_tweets,y_test_tweets)

0.7622950819672131

In [ ]:
mnv.fit(x_train_features,y_train)
y_pred_mnv=mnv.predict(x_test_features)

In [ ]:
df=pd.DataFrame(y_pred_mnv)
df.to_csv('Predictions_tweets_mnv.csv',index=False,header=False)

### Decision Tree Classifier

In [47]:
from sklearn.datasets import make_classification
from sklearn import tree
dt = tree.DecisionTreeClassifier()
dt.fit(x_train_tweets,y_train_tweets)
dt.score(x_test_tweets,y_test_tweets)

0.6876138433515483

In [45]:
dt.fit(x_train_features,y_train)
y_pred_dt=dt.predict(x_test_features)

In [46]:
df=pd.DataFrame(y_pred_dt)
df.to_csv('Predictions_tweets_dt.csv',index=False,header=False)